MB.WEB/Connected Services/ServicioPresupuesto/ServicioPresupuesto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioPresupuesto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioPresupuesto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioPresupuesto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioPresupuesto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioPresupuesto_ObtenerPresupuestoPorFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPresupuestoPorFecha" />
  </wsdl:message>
  <wsdl:message name="IServicioPresupuesto_ObtenerPresupuestoPorFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPresupuestoPorFechaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPresupuesto_actualizaMontoRealPresupuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizaMontoRealPresupuesto" />
  </wsdl:message>
  <wsdl:message name="IServicioPresupuesto_actualizaMontoRealPresupuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizaMontoRealPresupuestoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioPresupuesto">
    <wsdl:operation name="ObtenerPresupuestoPorFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPresupuesto/ObtenerPresupuestoPorFecha" message="tns:IServicioPresupuesto_ObtenerPresupuestoPorFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPresupuesto/ObtenerPresupuestoPorFechaResponse" message="tns:IServicioPresupuesto_ObtenerPresupuestoPorFecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizaMontoRealPresupuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPresupuesto/actualizaMontoRealPresupuesto" message="tns:IServicioPresupuesto_actualizaMontoRealPresupuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPresupuesto/actualizaMontoRealPresupuestoResponse" message="tns:IServicioPresupuesto_actualizaMontoRealPresupuesto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioPresupuesto" type="tns:IServicioPresupuesto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPresupuestoPorFecha">
      <soap:operation soapAction="http://tempuri.org/IServicioPresupuesto/ObtenerPresupuestoPorFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaMontoRealPresupuesto">
      <soap:operation soapAction="http://tempuri.org/IServicioPresupuesto/actualizaMontoRealPresupuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioPresupuesto">
    <wsdl:port name="BasicHttpBinding_IServicioPresupuesto" binding="tns:BasicHttpBinding_IServicioPresupuesto">
      <soap:address location="http://localhost:63860/Logica/Servicios/ServicioPresupuesto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>