MB.WEB/Connected Services/ServicioPresupuesto/ServicioPresupuesto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DCPresupuesto">
    <xs:sequence>
      <xs:element minOccurs="0" name="dFechaFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dFechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dMontoPresupuesto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="dMontoReal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="iIdPresupuesto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCPresupuesto" nillable="true" type="tns:DCPresupuesto" />
</xs:schema>