MB.WEB/Connected Services/ServicioCatalogo/ServicioCatalogo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioCatalogo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" />
  <xs:element name="ObtenerCatalogo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" minOccurs="0" name="ObtenerCatalogoResult" nillable="true" type="q1:ArrayOfDCCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>