MB.WEB/Connected Services/ServicioIngresos/ServicioIngresos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioIngresos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioIngresos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioIngresos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioIngresos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioIngresos_registroIngresos_InputMessage">
    <wsdl:part name="parameters" element="tns:registroIngresos" />
  </wsdl:message>
  <wsdl:message name="IServicioIngresos_registroIngresos_OutputMessage">
    <wsdl:part name="parameters" element="tns:registroIngresosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioIngresos_obtenerUltimoIngreso_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUltimoIngreso" />
  </wsdl:message>
  <wsdl:message name="IServicioIngresos_obtenerUltimoIngreso_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUltimoIngresoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioIngresos">
    <wsdl:operation name="registroIngresos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioIngresos/registroIngresos" message="tns:IServicioIngresos_registroIngresos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioIngresos/registroIngresosResponse" message="tns:IServicioIngresos_registroIngresos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerUltimoIngreso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioIngresos/obtenerUltimoIngreso" message="tns:IServicioIngresos_obtenerUltimoIngreso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioIngresos/obtenerUltimoIngresoResponse" message="tns:IServicioIngresos_obtenerUltimoIngreso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioIngresos" type="tns:IServicioIngresos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registroIngresos">
      <soap:operation soapAction="http://tempuri.org/IServicioIngresos/registroIngresos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUltimoIngreso">
      <soap:operation soapAction="http://tempuri.org/IServicioIngresos/obtenerUltimoIngreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioIngresos">
    <wsdl:port name="BasicHttpBinding_IServicioIngresos" binding="tns:BasicHttpBinding_IServicioIngresos">
      <soap:address location="http://localhost:63860/Logica/Servicios/ServicioIngresos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>