MB.WEB/Connected Services/ServicioIngresos/ServicioIngresos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioIngresos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" />
  <xs:element name="registroIngresos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" minOccurs="0" name="dcIngresos" nillable="true" type="q1:DCIngresos" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" minOccurs="0" name="tipoCambio" nillable="true" type="q2:DCHisTipoCambio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registroIngresosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registroIngresosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerUltimoIngreso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerUltimoIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" minOccurs="0" name="obtenerUltimoIngresoResult" nillable="true" type="q3:DCIngresos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarIngresoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIngreso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarIngresoPorIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="registroUnionIngreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingreso" type="xs:int" />
        <xs:element minOccurs="0" name="capital" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registroUnionIngresoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>