MB.WEB/Connected Services/ServicioFormaPago/ServicioFormaPago2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDCFormaPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCFormaPago" nillable="true" type="tns:DCFormaPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCFormaPago" nillable="true" type="tns:ArrayOfDCFormaPago" />
  <xs:complexType name="DCFormaPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="iIdFormaPago" type="xs:int" />
      <xs:element minOccurs="0" name="vDetalleFP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCFormaPago" nillable="true" type="tns:DCFormaPago" />
</xs:schema>