MB.WEB/Connected Services/ServicioMonedas/ServicioMonedas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDCMoneda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCMoneda" nillable="true" type="tns:DCMoneda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCMoneda" nillable="true" type="tns:ArrayOfDCMoneda" />
  <xs:complexType name="DCMoneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="iIdMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="vCodMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vMoneda" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCMoneda" nillable="true" type="tns:DCMoneda" />
</xs:schema>