MB.WEB/Connected Services/ServicioDetPresupuesto/ServicioDetPresupuesto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DCDetallePresupuesto">
    <xs:sequence>
      <xs:element minOccurs="0" name="dMonto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="iIdCatalogo" type="xs:int" />
      <xs:element minOccurs="0" name="iIdDetalle" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCDetallePresupuesto" nillable="true" type="tns:DCDetallePresupuesto" />
</xs:schema>