MB.WEB/Connected Services/ServicioHisTipoCambio/ServicioHisTipoCambio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioHisTipoCambio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" />
  <xs:element name="registroTipoCambio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" minOccurs="0" name="dcHisTipoCambio" nillable="true" type="q1:DCHisTipoCambio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registroTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registroTipoCambioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerUltimoIdTipoCambio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerUltimoIdTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerUltimoIdTipoCambioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoCambioPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoCambio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoCambioPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarTipoCambioPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>