MB.WEB/Connected Services/ServicioCategorias/ServicioCategorias2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioCategorias.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" />
  <xs:element name="ObtenerCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" minOccurs="0" name="ObtenerCategoriasResult" nillable="true" type="q1:ArrayOfDCCategorias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>