MB.WEB/Connected Services/ServicioGastos/ServicioGastos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DCGastos">
    <xs:sequence>
      <xs:element minOccurs="0" name="dFecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dMonto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="iIdCatalogo" type="xs:int" />
      <xs:element minOccurs="0" name="iIdFormaPago" type="xs:int" />
      <xs:element minOccurs="0" name="iIdGastos" type="xs:int" />
      <xs:element minOccurs="0" name="vDetalle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCGastos" nillable="true" type="tns:DCGastos" />
</xs:schema>