MB.WEB/Connected Services/ServicioGastos/ServicioGastos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioGastos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioGastos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioGastos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63860/Logica/Servicios/ServicioGastos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioGastos_guardarGasto_InputMessage">
    <wsdl:part name="parameters" element="tns:guardarGasto" />
  </wsdl:message>
  <wsdl:message name="IServicioGastos_guardarGasto_OutputMessage">
    <wsdl:part name="parameters" element="tns:guardarGastoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGastos_obtenerUltimoGasto_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUltimoGasto" />
  </wsdl:message>
  <wsdl:message name="IServicioGastos_obtenerUltimoGasto_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerUltimoGastoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGastos_guardarUnionDetalleGasto_InputMessage">
    <wsdl:part name="parameters" element="tns:guardarUnionDetalleGasto" />
  </wsdl:message>
  <wsdl:message name="IServicioGastos_guardarUnionDetalleGasto_OutputMessage">
    <wsdl:part name="parameters" element="tns:guardarUnionDetalleGastoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGastos_registroUnionGasto_InputMessage">
    <wsdl:part name="parameters" element="tns:registroUnionGasto" />
  </wsdl:message>
  <wsdl:message name="IServicioGastos_registroUnionGasto_OutputMessage">
    <wsdl:part name="parameters" element="tns:registroUnionGastoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioGastos">
    <wsdl:operation name="guardarGasto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGastos/guardarGasto" message="tns:IServicioGastos_guardarGasto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGastos/guardarGastoResponse" message="tns:IServicioGastos_guardarGasto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerUltimoGasto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGastos/obtenerUltimoGasto" message="tns:IServicioGastos_obtenerUltimoGasto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGastos/obtenerUltimoGastoResponse" message="tns:IServicioGastos_obtenerUltimoGasto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="guardarUnionDetalleGasto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGastos/guardarUnionDetalleGasto" message="tns:IServicioGastos_guardarUnionDetalleGasto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGastos/guardarUnionDetalleGastoResponse" message="tns:IServicioGastos_guardarUnionDetalleGasto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registroUnionGasto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGastos/registroUnionGasto" message="tns:IServicioGastos_registroUnionGasto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGastos/registroUnionGastoResponse" message="tns:IServicioGastos_registroUnionGasto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioGastos" type="tns:IServicioGastos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="guardarGasto">
      <soap:operation soapAction="http://tempuri.org/IServicioGastos/guardarGasto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUltimoGasto">
      <soap:operation soapAction="http://tempuri.org/IServicioGastos/obtenerUltimoGasto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarUnionDetalleGasto">
      <soap:operation soapAction="http://tempuri.org/IServicioGastos/guardarUnionDetalleGasto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registroUnionGasto">
      <soap:operation soapAction="http://tempuri.org/IServicioGastos/registroUnionGasto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioGastos">
    <wsdl:port name="BasicHttpBinding_IServicioGastos" binding="tns:BasicHttpBinding_IServicioGastos">
      <soap:address location="http://localhost:63860/Logica/Servicios/ServicioGastos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>