MB.WEB/Connected Services/ServicioHistorialCapital/ServicioHistorialCapital.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="registroHistCapital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaCorte" type="xs:dateTime" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
        <xs:element minOccurs="0" name="ingresoGasto" type="xs:int" />
        <xs:element minOccurs="0" name="monto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registroHistCapitalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>