MB.WEB/Connected Services/ServicioHistorialCapital/ServicioHistorialCapital2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MB.WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DCHisCapitalFinanciero">
    <xs:sequence>
      <xs:element minOccurs="0" name="bEstado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="dFechaDeCorte" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dMontoCF" type="xs:decimal" />
      <xs:element minOccurs="0" name="iIdCapitalF" type="xs:int" />
      <xs:element minOccurs="0" name="iIdGastos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="iIdIngreso" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCHisCapitalFinanciero" nillable="true" type="tns:DCHisCapitalFinanciero" />
</xs:schema>